.tag {
    display: flex;
    justify-content: space-between;
}

.tag header {
    font-size: 20px;
    font-weight: bold;
    color: #00277E;
}
.tag ul {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.tag li {
    list-style: none;
}
.tag a {
    text-decoration: none;
    padding: 10px;
    color: #00277E;
}
.relative {
    position: relative;
    top: 300px;
}

p {
    font-size: 50px;
}
img {
    position:;
    width: 50%;
    margin: 0% 0% 0% 50%;
}
.blue-line {
    position: relative;
    width: 1000px;
    height: 150px;
    background-color: #00277E;
}

