.tag {
    display: flex;
    justify-content: space-between;
}

.tag header {
    font-size: 20px;
    font-weight: bold;
    color: #00277E;
}
.tag ul {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.tag li {
    list-style: none;
}
.tag a {
    text-decoration: none;
    padding: 10px;
    color: #00277E;
}

p {
    font-size: 50px;
    margin-top: 28%;
}
.line {
    background-color: #00277E;
    position: relative;
    width: 70%;
    height: 150px;
}
img {
    position: absolute;
    width: 50%;
    margin-left: 50%;
    bottom: 20%;
}


